---
import SectionHeader from "@components/ui/SectionHeader.astro";
import ProcessCard from "@components/ui/ProcessCard.astro";

const steps = [
  {
    number: "01",
    title: "Consultation",
    description:
      "During the initial consultation, we will discuss your business goals and objectives, target audience, and current marketing efforts. This will allow us to understand your needs and tailor our services to best fit your requirements.",
  },
  {
    number: "02",
    title: "Research and Strategy Development",
    description:
      "We dive deep into market research, analyzing your competitors and identifying key opportunities. Based on these insights, we develop a comprehensive strategy tailored to achieve your specific business goals.",
  },
  {
    number: "03",
    title: "Implementation",
    description:
      "Our team executes the strategies developed in the previous phase, utilizing top-tier tools and techniques to bring your vision to life across the chosen digital channels.",
  },
  {
    number: "04",
    title: "Monitoring and Optimization",
    description:
      "We continuously track the performance of your campaigns, making data-driven adjustments in real-time to ensure maximum efficiency and ROI.",
  },
  {
    number: "05",
    title: "Reporting and Communication",
    description:
      "You'll receive detailed regular reports on performance metrics and project status, ensuring transparency and open communication throughout our partnership.",
  },
  {
    number: "06",
    title: "Continual Improvement",
    description:
      "Digital marketing is an iterative process. we take the lessons learned from every campaign to refine our approach and drive even better results over time.",
  },
];
---

<section id="process" class="my-[60px] md:my-[100px] bg-white relative">
  <SectionHeader
    title="Our Working Process"
    description="Step-by-Step Guide to Achieving Your Business Goals"
    descriptionMaxWidth="292px"
  />

  <div
    class="flex flex-col items-start w-full mx-auto box-border px-[20px] md:px-[100px] max-w-[1440px] gap-[30px]"
  >
    {
      steps.map((step) => (
        <ProcessCard
          number={step.number}
          title={step.title}
          description={step.description}
        />
      ))
    }
  </div>
</section>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const cards = document.querySelectorAll(".process-card");

    cards.forEach((card) => {
      card.addEventListener("click", () => {
        card.classList.toggle("is-open");
      });
    });
  });
</script>
