---
interface Props {
    className?: string;
}

const { className = "" } = Astro.props;
---

<div class={`w-[53px] h-[28px] ${className}`}>
    <svg
        width="53"
        height="28"
        viewBox="0 0 53 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <!-- Masking the border of the box behind the tail -->
        <path d="M0 0H53V2H0V0Z" fill="#191A23"></path>
        <!-- The Tail Shape -->
        <path d="M26.5 28L0 0H53L26.5 28Z" fill="#191A23"></path>
        <!-- The Tail Border (only sides) -->
        <path d="M0 0L26.5 28L53 0" stroke="#B9FF66" stroke-width="2"></path>
    </svg>
</div>
