---
import arrowGreen from "../assets/svgs/arrows/arrow_green.svg?url";

const caseStudies = [
    {
        description: "For a local restaurant, we implemented a targeted PPC campaign that resulted in a 50% increase in website traffic and a 25% increase in sales.",
        link: "#"
    },
    {
        description: "For a B2B software company, we developed an SEO strategy that resulted in a first page ranking for key keywords and a 200% increase in organic traffic.",
        link: "#"
    },
    {
        description: "For a national retail chain, we created a social media marketing campaign that increased followers by 25% and generated a 20% increase in online sales.",
        link: "#"
    }
];
---

<section id="case-studies" class="py-[60px] md:py-[100px] bg-white overflow-hidden">
    <!-- Header Row -->
    <div class="flex flex-col md:flex-row items-start md:items-center w-full mx-auto box-border px-[20px] md:px-[100px] max-w-[1440px] gap-[30px] md:gap-[40px] mb-[40px] md:mb-[80px]">
        <!-- Green pill heading -->
        <div class="flex flex-col items-start shrink-0">
            <div class="flex flex-col items-start px-[7px] py-0 bg-[#B9FF66] rounded-[7px]">
                <h2 class="m-0 font-sans font-medium text-[36px] md:text-[40px] leading-[46px] md:leading-[51px] text-black whitespace-nowrap">
                    Case Studies
                </h2>
            </div>
        </div>

        <!-- Description -->
        <p class="m-0 font-sans font-normal text-[16px] md:text-[18px] leading-[22px] md:leading-[23px] text-black max-w-[580px]">
            Explore Real-Life Examples of Our Proven Digital Marketing Success through Our Case Studies
        </p>
    </div>

    <!-- Case Studies Container -->
    <div class="w-full mx-auto box-border px-[20px] md:px-[100px] max-w-[1440px]">
        <div class="bg-[#191A23] rounded-[45px] p-[30px] md:py-[70px] md:px-[60px] flex flex-col md:flex-row items-stretch md:items-center justify-between">
            {caseStudies.map((study, index) => (
                <>
                    <div class="flex flex-col items-start gap-[20px] w-full md:w-[286px]">
                        <p class="m-0 font-sans font-normal text-[16px] md:text-[18px] leading-[22px] md:leading-[23px] text-white">
                            {study.description}
                        </p>
                        <a href={study.link} class="flex flex-row items-center gap-[15px] no-underline group">
                            <span class="font-sans font-normal text-[18px] md:text-[20px] leading-[28px] text-[#B9FF66]">
                                Learn more
                            </span>
                            <img 
                                src={arrowGreen} 
                                alt="Arrow" 
                                class="w-8 h-5 object-contain transition-transform group-hover:translate-x-1"
                            />
                        </a>
                    </div>
                    
                    {index < caseStudies.length - 1 && (
                        <>
                            <!-- Desktop Vertical Line -->
                            <div class="hidden md:block w-[1px] h-[186px] bg-white mx-[64px] shrink-0"></div>
                            <!-- Mobile Horizontal Line -->
                            <div class="block md:hidden w-full h-[1px] bg-white/20 my-[30px]"></div>
                        </>
                    )}
                </>
            ))}
        </div>
    </div>
</section>
